In [ ]:
vegitable = ['aalu' , 'baigan' , 'tamatar']
print(vegitable[2])
v

tamatar

NameError: name 'baigan' is not defined

In [9]:
vegitable = ('aalu' , 'baigan' , 'tamatar')
print(vegitable)

('aalu', 'baigan', 'tamatar')

In [11]:
vegitable.remove(baigan)

AttributeError: 'tuple' object has no attribute 'remove'

# dic

In [17]:
a={1:'sandeep'}
print(a)

{1: 'sandeep'}

In [19]:
student={
    'name':'salman khan',
    'age' : 50,
    'class' : 4,
    'marks': 18
}
print(student)

{'name': 'salman khan', 'age': 50, 'class': 4, 'marks': 18}

In [21]:
type(student)

dict

type casting
#####  it is a proess to convert the datatype of any of varibale into another datatype

In [23]:
a=10
b=str(a)
type(b)

str

In [30]:
a = int(input('enter'))
print(a)

56

In [32]:
type(a)

int

In [39]:
a=float(input('enter the tadius of circle'))
area=3.14*a*a
print(area)

254.34

In [43]:
salry=float(input("enter salry"))
tda = 0.10*salry
hra = 0.5*salry
total_salry = salry+tda+hra
print(tda)
print(hra)
print(total_salry)

2000.0
10000.0
32000.0